<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deja11.dejaphoto">

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".LeftReceiver" android:exported="false">
            <intent-filter>
                <action android:name="left_button_receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".RightReceiver" android:exported="false">
            <intent-filter>
                <action android:name="right_button_receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".KarmaReceiver" android:exported="false">
            <intent-filter>
                <action android:name="karma_button_receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ReleaseReceiver" android:exported="false">
            <intent-filter>
                <action android:name="release_button_receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="alarm_receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SyncReceiver">
            <intent-filter>
                <action android:name="sync_receiver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SetWallpaperService"
            android:exported="false" />

        <activity android:name="com.deja11.dejaphoto.SettingPreference" android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>